body {
  font-family: Roboto;
  margin: 0;
}
.section {
  display: flex;
  height: 450px;
}

/* Header section starts */

.header-wrapper {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  width: 950px;
  padding-top: 10px;
}

.header-link {
  list-style-type: none;
  display: flex;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.header-link a {
  text-decoration: none;
  color: white;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
}

.header-left {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
}
.header-right {
  height: 100%;
}

.header-body {
  display: flex;
  justify-content: space-between;
  width: 950px;
  gap: 2px;
}

.header-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 225px;
  background-color: #6d747d;
}

.header-maintext {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.header-signup {
  border: 2px solid #3882f6;
  border-radius: 8px;
  background-color: blue;
  color: white;
  height: 35px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

/* Header section ends */
